*{
    font-family:sans-serif ;
}
body{
    background-color: #F7ECDE;
}

h1{
    font-family: 'Amatic SC', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-weight: 500;
}
h1::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60%;
    background-color:#FEC260;
    z-index: -1;
    transition: all ease-in-out .3s;
}
h1:hover::after{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 30%;
}
h2 {
    background: linear-gradient(to right,#3EA55C, #B3AC49 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-family: cursive;
  }
  .cont{
    border-top: black dotted 2px;
    border-bottom: black dotted 2px;

  }

  tbody tr{
    height: 60px;
  }

  .overlay
  {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 9999;
  }
  .close{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  ul{
    list-style-type: none;
  }
  .pop{
    margin-top: 10%;
  }